<footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="img/logo.jpg" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Barrio Villadela, Tegucigalpa, Francisco Morazán</p>
                <p>Correo Electrónico: 
                    ngi.ceve2017@gmail.com</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/profile.php?id=100064546188422&mibextid=qi2Omg&rdid=n25fCQdU7K6fs6UH" class="fa fa-facebook">
                        <img src="img/2021_Facebook_icon.svg.png" alt="Imagen-Facebook"> 
                    </a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Iglesia Centro Evangelico Vida Eterna </b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>