<div id="gallery-container">
    {{#each gallery}}
    <div class="card-image-galeria">
        <div class="card-ga">
            <h2>{{name}}</h2>
            <br>
            <img alt="Imágen de Tarjeta" src="{{imgUrl}}" />
            <br>
            <br>
            <div class="body">
                <p1>{{content}}</p1>
            </div>
        </div>
    </div>
    <br>
    <br>
    {{/each}}
</div>
