<div class="menu">
            <h2>Menu</h2>
            <img src="img/menu-btn.png" class="menu-icon">
            <ul id="menu-list"> <!-- Cambio realizado: Añadido el identificador "menu-list" -->
                <li><a href="index.html">INICIO</a></li>
                <li><a href="comoAyudar.html">CÓMO AYUDAR</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="eventos.html">EVENTOS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="contactenos.html">CONTÁCTENOS</a></li>
                <li><a href="donaciones.html">PÁGINA DE DONACIONES</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="acerca_nosotros.html">ACERCA DE NOSOTROS</a></li>
                <li><a href="galeria.html">GALERÍA</a></li>
            </ul>
        </div>